@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}